/*   ---------------General styles---------------------- */
body{
    margin: 0;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
}
.title{
    font-family: 'Raleway', sans-serif;
}
.intoDescription button:hover, .ctaContainer button:hover{
    font-weight: bold;
    background-color: hsl(176, 68%, 64%);
}
/*  ---------------- Global Container -----------------  */
.siteContainer{
    max-width: 1440px;
    background-color:hsl(217, 28%, 15%);
    margin: 0 auto;
    color:azure;
}

/*  ------------------- Menu  --------------------------  */
.menu{
    display: flex;
    padding: 20px 100px;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 100px;
}
.menu a{
    color:azure;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    margin-right: 50px;
    letter-spacing: .1em;
}

/*  ------------------ introduction -----------------------------  */
.into{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 40px 0 220px 0;
}
.intoImg{
    z-index: 2;
}
.intoDescription{
    max-width: 500px;
    text-align: center;
    z-index: 2;
}
.intoDescription h1{
    margin-top:40px;
    line-height: 1.5em;
}
.intoDescription p{
    padding:0 45px;
    line-height: 1.5em;
    margin-bottom: 25px;
}
.intoDescription button{
    padding: 10px 60px;
    font-family: 'Raleway', sans-serif;
    border-radius: 20px;
    border:none;
    background-color:hsl(198, 60%, 50%);
    color: azure;
}
.curves{
    position: absolute;
    bottom: 0px;
    z-index: 1;
}
.curves img{
    width: 100%;
}

/*  ------------------  Qualities ----------------------- */
.qualities ul{
    margin-top:-10px;
    display: flex;
    position: relative ;
    list-style: none;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: hsl(218, 28%, 13%);
    z-index: 3;
}
.qualities li{
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 80px;
}
.qualities li p{
    max-width: 380px;
    text-align: center;
    line-height: 1.5em;
}
.qualities li h1{
    text-align: center;
}

/* ------------------ Stay productive -------------------------- */
.stayProductive{
    background-color: hsl(218, 28%, 13%);
    margin-top: -15px;
    display: flex;
    padding: 40px 100px;  
    justify-content: space-between;  
}
.img {
    width: 50%;;
}
.img>img{
    width: 100%;
}

.stayProductive .text{
    width: 40%;
    padding: 100px 0 0 40px
}
.stayProductive .text h1{
    max-width: 300px;
}
.stayProductive .text p{
    line-height: 1.5em;
}
.stayProductive .text a{
    color: hsl(176, 68%, 64%);
    border-bottom: 1px solid hsl(176, 68%, 64%);
}
.stayProductive .text a:hover{
    cursor:pointer;
    color: #FFF     ;
    border-color: #FFF;
}
.stayProductive .text a img{
    width: 12px;
    margin: 0;
    z-index: -1;
}

/* ------------------  Comments  ---------------------  */
.comments{
    margin-top: -15px;
    background-color: hsl(218, 28%, 13%);
}
.comments ul{
    position:relative;
    list-style:none;
    padding: 60px 100px;
    display: flex;
    justify-content: space-between;
}
.comments li{
    background-color: hsl(217, 28%, 15%);
    width: 27%;
    padding:30px 10px 20px 30px;
    border-radius: 5px;
    box-shadow: 10px 10px 10px  hsl(217, 28%, 15%);
    z-index: 2;
}
.comments li>p{
    line-height: 1.5em;
    margin-bottom: 20px;
}
.profile{
    display: flex;
    height: 60px;
    align-items: center;
}
.profileImg{
    width: 15%;
    padding-top: 10px;
}
.profile img{
    width: 100%;
    border-radius: 50%;
}
.profileName{
    padding-left: 10px;
}
.profileName h2{
    font-size: 1.125em;
}
.profileName p {
    margin-top: -10px;
    font-size: .8em;
}
.quotes{
    position: absolute;
    z-index: 1;
    top:30px;
    left:90px
}

/*  ----------------- Call to action -----------------  */
.cta{
    margin-top: -20px;
    min-height: 200px;
    background-color: hsl(218, 28%, 13%);
    position: relative;
}
.ctaContainer{
    position: absolute;
    width: 70%;
    padding: 30px 0;
    text-align: center;
    background-color: hsl(217, 28%, 15%);
    border-radius: 5px;
    box-shadow: 2px 2px 2px hsl(218, 28%, 13%);
    left: 15%;
    bottom: -120px;
}
.ctaContainer p{
    max-width: 620px;
    margin: 0 auto;
    padding-bottom: 20px;
    line-height: 1.5em;
}
form{
    display:flex;
    justify-content: center
}
.ctaContainer input{
    width: 50%;
    height: 30px;
    border-radius: 20px;
    border:none;
    outline: none;
    padding-left: 15px;
    margin-right: 30px;
}
.errorEmail{
    width: 70%;
    color:hsl(0, 100%, 63%);
    text-align: start;
}
.sucess{
    color:hsl(176, 68%, 64%)
}
.ctaContainer button{
    padding:10px 20px;
    border-radius: 20px;
    border:none;
    background-color: hsl(198, 60%, 50%); 
    color:#FFF;
}

/*  --------------------- FinalInfo ----------------------------  */
.finalInfo>img{
    margin-top: 180px;
    margin-left: 100px;
}
.finalInfo ul{
    display: flex;
    padding: 40px 100px;
    list-style: none;
}
.finalInfo ul>li{
    padding: 0 20px;
}
.finalInfo ul li p>img {
    margin-right: 10px;
}
.local{
    width: 35%;
}
.contact{
    width: 25%;
}
.icons ul{
    padding: 0px;
}
.icons ul>li{
    padding:5px
}
.icons ul li img{
    padding: 10px;
    width: 20px;
    border-radius: 50%;
    border:2px solid #fff
}
/*  -------------------- attribution --------------------  */
.attribution{
    padding: 10px 0 ;
    text-align: center;
}
.attribution a{
    color:hsl(176, 68%, 64%);
    text-decoration: none;
}
.attribution a:hover{
    text-decoration: underline;
}


@media (max-width:1170px) and (min-width:1040px){
    .stayProductive .text{
        padding-top: 20px;
    }
    
}



@media (max-width:1039px){
    .menu a{
        margin-right: 15px;
    }
  
    .menuLogo{
        max-width: 150px;
    }
    .menuLogo img{
        width: 100%;
    }
    .into{
        padding-bottom: 100px;
    }
    .intoImg img{
        width: 100%;
    }
    .qualities img{
        max-width: 70%;
        display:block;
        margin:0 auto;
    }
    .stayProductive .text{
        padding-top: 20px;
    }
    .comments ul{
        flex-wrap:wrap;
    	justify-content: center;
        padding: 60px 30px;
    }
    .quotes{
        position: absolute;
        z-index: 1;
        top:30px;
        left:15px
    }
    .comments ul li{
        width: 30%;
        margin-bottom: 20px;
        margin-right:10%;
    }
    .profile{
        justify-content: center;
    }
    .finalInfo>ul{
        padding: 40px;
        
    }
    .icons ul{
        display: flex;
        flex-direction: column;
    }
    .contact{
        width: 30%;
        font-size: 12px;
    }
}
@media (max-width:600px){
    .menu{
        padding: 10px 25px 10px 25px;
    }
    *{
        font-size: 12px;
    }
   .logo{width:80px}
   .menu a{
    margin-right: 5px;
    }
    .into{
        padding:40px 25px 40px 25px ;
      
    }
    .qualities ul{
        flex-direction: column;
        padding: 0;
        padding:40px 25px 40px 25px ;
    }
    .qualities ul li{
        width: 100%;
        padding-bottom: 40px;
    }
    .stayProductive{
        flex-direction: column;
        padding: 0 25px 20px 25px;
    }
    .stayProductive div{
        width: 100%;
    }
    .stayProductive .text{
        width: 100%;
        padding: 0px;
        text-align: center;
    }
    .stayProductive .text h1{
        max-width: 100%;
    }
    .stayProductive .text p{
        line-height: 1.5em;
    }
    .stayProductive .text a{
        color: hsl(176, 68%, 64%);
        border-bottom: 1px solid hsl(176, 68%, 64%);
    }
    .stayProductive .text a:hover{
        cursor:pointer;
        color: #FFF     ;
        border-color: #FFF;
    }
    .stayProductive .text a img{
        width: 12px;
        margin: 0;
        z-index: -1;
    }
    .comments ul li{
        width: 100%;
        margin:0 0 20px 0;
        padding: 40px 25px;
    }
    .cta{
        min-height: 100px;
    }
    form{
        flex-direction: column;
    }
    .ctaContainer input{
        width: 100%;
        margin-bottom: 10px ;
        padding-left:0 ;
    }
    .finalInfo>img{
        margin-top: 150px;
        margin-left: 100px;
    }
    .finalInfo ul{
        flex-direction: column;
        justify-content: center;
        padding: 40px 25px 10px 25px;

    }
    .finalInfo ul li{
        width: 100%;
        text-align: center;
        padding: 5px 0;
    }
    .icons ul{
        flex-direction: row;
    }
}

